<div class="container">
  <form class="login-form" action="/sessions" method="post">
    <% if @error %>
      <p class="error"><%= @error %></p>
    <% end %>
    <div>
      <label>Email: </label>
      <input type="text" name="email">
    </div>
    <div>
      <label>Password: </label>
      <input type="password" name="password">
    </div>
    <div>
      <input type="submit" value="Login">
    </div>
  </form>
</div>
