<div class="container">
  <h2>Register to Get Your own Garage</h2>

  <% if @errors %>
    <% @errors.each do |error| %>
      <ul>
        <li class="errors"><%= error %></li>
      </ul>
    <% end %>
  <% end %>

  <form class="new-user-form" action="/users" method="post">
    <div>
      <label>First Name: </label>
      <input type="text" name="user[first_name]" placeholder="John">
    </div>
    <div>
      <label>Last Name: </label>
      <input type="text" name="user[last_name]" placeholder="Doe">
    </div>
    <div>
      <label>Email: </label>
      <input type="text" name="user[email]" placeholder="jdoe@example.com">
    </div>
    <div>
      <label>Username: </label>
      <input type="text" name="user[username]" placeholder="jd_1988">
    </div>
    <div>
      <label>Password: </label>
      <input type="password" name="user[password]">
    </div>
    <div>
      <input type="submit" value="Register">
    </div>
  </form>
</div>
