<h2><%= @user.first_name %>, these are the cars in your garage:</h2>
<ul class="car-list">
  
</ul>


<a href="/users/<%= @user.id %>/cars/new" class="get-car-form">Add a car to your garage</a>

<div class="car-form-container">

</div>
